<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Évolution</ion-title>
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="placeholder-container">
    <ion-icon name="analytics-outline"></ion-icon>
    <h2>Suivre ton évolution</h2>
    <p>Visualise tes progrès et statistiques d'entraînement</p>
  </div>
</ion-content>
