<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="hand-right-outline"></ion-icon>
      <ion-label>Sparring</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Défis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Entraînement</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
