<ion-header>
  <ion-toolbar>
    <ion-title>Partager</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>{{ title }}</h4>
  <p>{{ text }}</p>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnFacebook()">
          <div class="share-button-content">
            <ion-icon name="logo-facebook" color="facebook"></ion-icon>
            <div>Facebook</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnTwitter()">
          <div class="share-button-content">
            <ion-icon name="logo-twitter" color="twitter"></ion-icon>
            <div>X / Twitter</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnWhatsApp()">
          <div class="share-button-content">
            <ion-icon name="logo-whatsapp" color="whatsapp"></ion-icon>
            <div>WhatsApp</div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareByEmail()">
          <div class="share-button-content">
            <ion-icon name="mail" color="danger"></ion-icon>
            <div>Email</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnLinkedIn()">
          <div class="share-button-content">
            <ion-icon name="logo-linkedin" color="linkedin"></ion-icon>
            <div>LinkedIn</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnInstagram()">
          <div class="share-button-content">
            <ion-icon name="logo-instagram" color="instagram"></ion-icon>
            <div>Instagram</div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-button fill="clear" (click)="shareOnSnapchat()">
          <div class="share-button-content">
            <ion-icon name="logo-snapchat" color="snapchat"></ion-icon>
            <div>Snapchat</div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
